.verticalAlign{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.cabecera{
	width: 100%;
}

.cabecera>img{
	width: 100%;
}

#navegador{
	height: 100px;
	padding: 10px;
}

#navegador h1{
	position: relative;
	bottom: 50px;
	display: inline-block;
	margin-left: 80px;
}

.redes{
	float: right;
}

.redes img{
	width: 40px;
	height: 40px;
}

.contenido img{
	width: 300px;
	height: 300px;
	display: inline-block;
	margin-left: 100px;
	margin-top: 60px;
}